<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3">
      <div class="m-4 m-lg-5">
        <div class="container" xmlns:th="http://www.thymeleaf.org">
          <form class="form-signin mt-xl-5" method="post" action="/login">
            <h2 class="form-signin-heading">Sign in</h2>
            <p>
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                     autofocus="">
            </p>
            <p>
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                     required="">
            </p>

            <div th:text="${param.error}" class="text-danger"></div>

            <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
          <a href="/register" class="btn btn-block btn-light">Register here</a>
        </div>
      </div>
    </div>
  </div>
</header>
